<div id="menu">
    <button data-action="save(10)">Save</button>
    <button data-action="load">Load</button>
    <button data-action="search">Search</button>
</div>

<script>
    const FLIGHTS = ['777', '888', '444'];
    const MENU = document.querySelector('#menu');

    FLIGHTS.forEach(flight => {
        let button = document.createElement('button');
        let buttonNumberText = flight;
        button.textContent = buttonNumberText;
        MENU.append(button);

        button.addEventListener('click', (e) => {
            console.log('from api: click');
            AppelApiMeteo(flight);
        });
    });

    function AppelApiMeteo(flight) {
        alert('from apimeteo: click'+ flight);

    }

    class Menu {
        constructor(elem) {
            this._elem = elem;
            elem.onclick = this.onClick.bind(this); // (*)
        }

        save(text) {
            alert(text);
        }

        load() {
            alert('loading');
        }

        search() {
            alert('searching');
        }

        onClick(event) {
            let action = event.target.dataset.action;
            if (action) {
                this[action]();
            }
        };
    }

    new Menu(menu);
</script>